.app {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}

.container {
  max-width: 50%;
  margin: 0 auto;
}

.appHeader {
  display: flex;
  justify-content: flex-end;
}

.logoWrapper {
  padding: 50px 50px 100px 0;
  align-self: flex-end;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
