.btn {
  background-color: #282c34;
  color: white;
  //border-style: hidden;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
}

.text {
  color: white;
}
